<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705303673954-r5ld1d8n2jfp1f981dkr8onot17i868k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705303673954-r5ld1d8n2jfp1f981dkr8onot17i868k</string>
	<key>API_KEY</key>
	<string>AIzaSyCDjeWvJQjSD6NU5Wy7Y2IvqQlZtxqrVcc</string>
	<key>GCM_SENDER_ID</key>
	<string>705303673954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anders-Due.TV2-projekt</string>
	<key>PROJECT_ID</key>
	<string>iosskattejagttv2</string>
	<key>STORAGE_BUCKET</key>
	<string>iosskattejagttv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705303673954:ios:6a6e5f10930960f69ee53b</string>
</dict>
</plist>
